<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>OpenSourceProject</key>
        <string>sudo</string>
        <key>OpenSourceVersion</key>
        <string>1.8.17p1</string>
        <key>OpenSourceWebsiteURL</key>
        <string>http://www.sudo.ws/</string>
        <key>OpenSourceURL</key>
        <string>http://www.sudo.ws/dist/sudo-1.8.17p1.tar.gz</string>
        <key>OpenSourceSHA256</key>
        <string>c690d707fb561b3ecdf6a6de5563bc0b769388eff201c851edbace408bb155cc</string>
        <key>OpenSourceImportDate</key>
        <string>2016-07-06</string>
        <key>OpenSourceModifications</key>
        <array>
        	<string>Disable sudoedit.</string>
        	<string>Disable sudoreplay.</string>
        	<string>Allow admin group by default.</string>
        	<string>Disable lecture</string>
        </array>
        <key>OpenSourceLicense</key>
        <string>other|bsd</string>
        <key>OpenSourceLicenseFile</key>
        <string>sudo.txt</string>
</dict>
</plist>
